<md-dialog aria-label="finalisedOrder">
  <md-subheader class="md-sticky-no-effect ngdialog-header">
      <div class="ngdialog-header">
      <md-button ng-click="close()" class="md-accent md-raised">
              Cancel
      </md-button>
         Review your order 
         <md-button ng-click="next()" class="md-primary md-raised">
              Next
      </md-button>
         
      </div>
  </md-subheader>
  <md-content class="">

        <div >
          <md-input-container layout="row" layout-wrap>
            <label  >Collection Date</label>
            <input  ng-model="user.title">
          </md-input-container >
          <md-input-container layout="row" layout-wrap>
            <label >Collection Point</label>
            <input    ng-model="user.title">
          </md-input-container>
        </div>
  </md-content>
</md-dialog>

